<div class="page-header">
    <h1>Dashboard</h1>
</div>

<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="row">
        <div class="col-sm-4">
            <div class="form-group"
                [ngClass]="{'has-warning': usersService.originalUsersCount && count.value >= usersService.originalUsersCount}">
                <label for="count">Number of winners</label>
                <input
                    #count
                    required
                    formControlName="count"
                    id="count"
                    type="number"
                    min="1"
                    step="1"
                    class="form-control" />

                <span *ngIf="usersService.originalUsersCount && count.value >= usersService.originalUsersCount" class="help-block">
                    Note that there are a total of only {{ usersService.originalUsersCount }} Users.
                </span>
            </div>
        </div>
        <div class="col-sm-4">
            <label for="time">Period of time</label>
            <div class="form-group"
                [ngClass]="{'has-error': timeLimitReached(time.value)}">
                <div class="input-group">
                    <input
                        #time
                        required
                        formControlName="time"
                        id="time"
                        type="number"
                        step="0.01"
                        min="0.05"
                        class="form-control" />
                    <span class="input-group-addon">minutes</span>
                </div>
                <span *ngIf="timeLimitReached(time.value)" class="help-block">
                    Come on! This is more than 10 days!
                </span>
            </div>
        </div>
        <div class="col-sm-4">
            <label for="country">Filter by country</label>
            <select
                formControlName="country"
                id="country"
                class="form-control">
                <option value="{{ ALL_COUNTRIES }}" selected>All countries</option>
                <option
                    id="country"
                    *ngFor="let country of countryService.countries"
                    value="{{country.id}}">
                    {{ country.name }}
                </option>
            </select>
        </div>
    </div>

    <br />
    <button
        type="submit"
        class="btn btn-primary btn-lg"
        [disabled]="!form.valid"
        *ngIf="drawWinnersInterval === null">
        Draw Winners
    </button>

    <button
        type="button"
        class="btn btn-warning btn-lg"
        *ngIf="drawWinnersInterval"
        (click)="onDrawingWinnersStop()">
        Stop Drawing Winners
    </button>

    <button
        type="button"
        class="btn btn-default btn-lg"
        *ngIf="winners.length && drawWinnersInterval === null"
        (click)="onCleanWinnersList()">
        Clean Winners List
    </button>

</form>

<hr />

<div *ngIf="winners.length" class="panel panel-success">
    <div class="panel-heading">
        <h3 class="panel-title">
            {{ winners.length }} Winners out of a total of {{ usersService.originalUsersCount }} Users
        </h3>
    </div>
    <div class="panel-body">
        <table class="table table-striped table-hover" style="margin-bottom: 0;">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Country</th>
                </tr>
            </thead>

            <tbody>
                <tr
                    *ngFor="let user of winners; let i = index"
                    (click)="goToUserDetails(user.id)"
                    class="clickable">
                    <td>{{ i + 1 }}</td>
                    <td>{{ user.first_name }} {{ user.last_name }}</td>
                    <td>{{ countryService.getCountryName(user.country_id) }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="drawWinnersInterval" class="panel-footer text-right">
        ... drawing a new winners
        <strong>{{ timerText ? 'in ' + timerText : 'now!' }}</strong>
    </div>
</div>
