<div class="page-header">
    <h1>User Details</h1>
    <span (click)="navigateBack()" class="clickable">
        <em class="glyphicon glyphicon-arrow-left"></em> Go Back
    </span>
</div>

<div class="jumbotron">
    <div class="media">
        <div class="media-left media-top">
            <img
                class="media-object" src="/images/user-avatar.svg"
                width="160"
                height="150"
                alt="User Avatar"
                style="padding-right: 20px;" />
        </div>
        <div class="media-body" *ngIf="user">
            <p>
                First name: {{ user.first_name }}<br />
                Last name: {{ user.last_name }}<br />
                Country: {{ countryService.getCountryName(user.country_id) }}<br />
                E-mail: {{ user.email }}
            </p>
        </div>
    </div>
</div>
